{
    "builders":[{
        "type": "docker",
        "image": "ansible/ubuntu14.04-ansible:1.8",
        "export_path": "image{{99999999 | random}}.tar"
    }],
    "provisioners":[
        {
            "type": "shell",
            "inline": ["mkdir {{dockerimage_appdir}}","chmod 0700 {{dockerimage_appdir}}"]
        },
        {
            "type": "file",
            "source": "{{build_tmpdir}}/{{repo_dir}}/",
            "destination": "{{dockerimage_appdir}}"
        },
        {
            "type": "ansible-local",
            "playbook_file": "{{build_tmpdir}}/{{docker_localansibletasks}}{{rnd}}.yml",
            "playbook_dir": "{{build_tmpdir}}"
	        {# "role_paths": [  #}
		    {#     "roles/this", #}
            {#     "roles/that" #}
	        {# ] #}
        }
    ],
    "post-processors": [
    [
        {
            "type": "docker-import",
            "repository": "{{dockerprivregistry}}/{{docker_img_name}}",
            "tag": "latest"
        },
        "docker-push"
    ]
    ]
}
